@use 'variables';
@use 'mixins';
@use 'keyframes';

* {
    font-family: variables.$font;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    background: linear-gradient(to right, variables.$secondary-color, #fffde4);
    color: variables.$text-color;
    overflow-x: hidden;
}

/* logotypen */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* logotypen */
.image-link {
    display: inline-block;
    text-align: center;
}

/* Logotyp hover-effekt */
.logo {
    width: 150px;
    height: auto;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

/* Stil för huvudrubriken */
h1 {
    color: variables.$text-color;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -40px;
}

#searchholder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    #searchButton {
        @include mixins.button(variables.$secondary-color, #fff, variables.$hover-backg, variables.$hover-text);
    }

    #searchInput {
        @include mixins.styled-input(#ccc, #fff, #333);
    }
}

/* Karta */
#mapid {
    margin: 0 auto;
    width: 60%;
    height: 500px;
    border-radius: 20px;
    margin-bottom: 50px;
    animation: mapShape 2s ease-out forwards;
}

#mapid:active {
    border: solid 5.5px;
}

@media only screen and (max-width: 700px) {
    #mapid {
        width: 90%;
        height: 450px;
    }

    h1 {
        font-size: 130%;
    }

    .logo {
        width: 100px;
    }
}

@media only screen and (min-width: 701px) and (max-width: 900px) {
    #mapid {
        width: 80%;
        height: 500px;
    }

    h1 {
        font-size: 150%;
    }

    .logo {
        width: 125px;
    }
}

/* Popupruta */
.leaflet-popup-content-wrapper {
    background-color: #fff;
    animation: scalepop 2s linear forwards;
}

.leaflet-popup-tip-container {
    display: none;
}

/* Felmeddelanden */
#errorMessages {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    animation: errormessage 4s ease-in-out infinite alternate;
}