@use 'variables';
@use 'mixins';

* {
    font-family: variables.$font;
}

/*Styling karta*/
#mapid {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 600px;
    border-radius: 20px;
}

@media only screen and (max-width: 800px) {
    #mapid {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 400px;
    }
}

h1 {
    color: variables.$text-color;
}

.title {
    text-align: center;
}

.rubrik {
    text-align: center;
}

#searchholder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    #searchButton {
        @include mixins.button(variables.$secondary-color, #fff, variables.$hover-text, #fff);
    }

    #searchInput {
        @include mixins.styled-input(#ccc, #fff, #333);
    }
}


body {
    background: variables.$gradient-bg;
    min-height: 100vh;
}

/*Error message*/
#errorMessages {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}