/*Färger*/
$base-color: rgb(139, 196, 201);
$secondary-color: #005aa7;
$text-color: rgb(31, 31, 31);
$hover-text: darken($secondary-color, 10%);
$hover-backg: darken($base-color, 20%);
$gradient-bg: llinear-gradient(to right, #005aa7, #fffde4);

/*Font*/
$font: "Roboto", sans-serif;